.item {
  background: #ffffff;
  border: 1px solid #e8e8e8;
  margin-bottom: 1.3rem;
  padding: 1.3rem;
}

.item__message {
  font-style: italic;
  font-weight: 300;
  text-align: center;
}

.item--position-1 {
  background: rgb(149, 236, 172);
  color: #ffffff;
}

.item--position-2 {
  background: #7CB2FF;
  color: #ffffff;
}

.item--position-3 {
  background: #BCA0FF;
  color: #ffffff;
}